<div include-html="header.html"></div>

<div id="main-wrapper">
  <h1>פתרונות</h1>
  <p>כאן יהיו פתרונות…</p>
</div>

<div include-html="footer.html" id="site-footer"></div>
<script src="include.js"></script>